.ltitle{
    background: url("/image/title.jpg");
    width: 50%;
    height: 10%;
    float: left;
    font-size: 60px;
}
.rtitle{
    background: url("/image/title.jpg");
    width: 50%;
    height: 10%;
    float: right;
    font-size: 60px;
}
.mytable{
    width: 100%;
}
.mytable tr td{
    font-size: 60px;
    text-align: center;
    background-color: coral;
    border: solid 1px;
}
.mytable tr td button{
    font-size: 60px;
}