<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.dao.InventoryMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.model.Inventory" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ASSET_NUM" property="assetNum" jdbcType="DECIMAL" />
    <result column="COMPLETE_NUM" property="completeNum" jdbcType="DECIMAL" />
    <result column="DEPARTMENT_ID" property="departmentId" jdbcType="DECIMAL" />
    <result column="END_TIME" property="endTime" jdbcType="DATE" />
    <result column="NO_NUM" property="noNum" jdbcType="DECIMAL" />
    <result column="START_TIME" property="startTime" jdbcType="DATE" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ASSET_NUM, COMPLETE_NUM, DEPARTMENT_ID, END_TIME, NO_NUM, START_TIME, STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wasu.model.InventoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INVENTORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from INVENTORY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INVENTORY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.model.InventoryExample" >
    delete from INVENTORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.model.Inventory" >
    insert into INVENTORY (ID, ASSET_NUM, COMPLETE_NUM, 
      DEPARTMENT_ID, END_TIME, NO_NUM, 
      START_TIME, STATE)
    values (#{id,jdbcType=DECIMAL}, #{assetNum,jdbcType=DECIMAL}, #{completeNum,jdbcType=DECIMAL}, 
      #{departmentId,jdbcType=DECIMAL}, #{endTime,jdbcType=DATE}, #{noNum,jdbcType=DECIMAL}, 
      #{startTime,jdbcType=DATE}, #{state,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.model.Inventory" >
    insert into INVENTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="assetNum != null" >
        ASSET_NUM,
      </if>
      <if test="completeNum != null" >
        COMPLETE_NUM,
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="noNum != null" >
        NO_NUM,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="assetNum != null" >
        #{assetNum,jdbcType=DECIMAL},
      </if>
      <if test="completeNum != null" >
        #{completeNum,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=DECIMAL},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="noNum != null" >
        #{noNum,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.model.InventoryExample" resultType="java.lang.Integer" >
    select count(*) from INVENTORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update INVENTORY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.assetNum != null" >
        ASSET_NUM = #{record.assetNum,jdbcType=DECIMAL},
      </if>
      <if test="record.completeNum != null" >
        COMPLETE_NUM = #{record.completeNum,jdbcType=DECIMAL},
      </if>
      <if test="record.departmentId != null" >
        DEPARTMENT_ID = #{record.departmentId,jdbcType=DECIMAL},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.noNum != null" >
        NO_NUM = #{record.noNum,jdbcType=DECIMAL},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update INVENTORY
    set ID = #{record.id,jdbcType=DECIMAL},
      ASSET_NUM = #{record.assetNum,jdbcType=DECIMAL},
      COMPLETE_NUM = #{record.completeNum,jdbcType=DECIMAL},
      DEPARTMENT_ID = #{record.departmentId,jdbcType=DECIMAL},
      END_TIME = #{record.endTime,jdbcType=DATE},
      NO_NUM = #{record.noNum,jdbcType=DECIMAL},
      START_TIME = #{record.startTime,jdbcType=DATE},
      STATE = #{record.state,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.model.Inventory" >
    update INVENTORY
    <set >
      <if test="assetNum != null" >
        ASSET_NUM = #{assetNum,jdbcType=DECIMAL},
      </if>
      <if test="completeNum != null" >
        COMPLETE_NUM = #{completeNum,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID = #{departmentId,jdbcType=DECIMAL},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=DATE},
      </if>
      <if test="noNum != null" >
        NO_NUM = #{noNum,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=DATE},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.model.Inventory" >
    update INVENTORY
    set ASSET_NUM = #{assetNum,jdbcType=DECIMAL},
      COMPLETE_NUM = #{completeNum,jdbcType=DECIMAL},
      DEPARTMENT_ID = #{departmentId,jdbcType=DECIMAL},
      END_TIME = #{endTime,jdbcType=DATE},
      NO_NUM = #{noNum,jdbcType=DECIMAL},
      START_TIME = #{startTime,jdbcType=DATE},
      STATE = #{state,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>